@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  width: 200px;
  margin-top: 20px;
  background-color: #001b2e;
  color: white;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border{
  height: 100px;
  width: 100px;
}

.category{
  border: 2px solid #011638;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.category img{
  margin-left: 10px;

}

.category-active {
  border: 2px solid blue;
  background-color: #011638;
  color: aliceblue;
}

/*============ Registration Page ==========*/
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.register input{
  width: 400px !important;
}

.register-form {
  background-color: rgb(82, 77, 92);
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.register-form h1{
  text-align: center;
  color: aliceblue;
  padding: 10px;
}

.register-form h3{
  color: dimgray;
  text-align: center;
}
